@{
    ViewBag.Title = "Reset password confirm";
}

<hgroup class="title">
    <h1>@ViewBag.Title。</h1>
</hgroup>
<div>
    <p>
        successfully please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
