

@{
    ViewBag.Title = "Index";
}

<h2>User Roles Index</h2>

<p>@Html.ActionLink("Get user roles", "GetUserRoles")</p>
<p>@Html.ActionLink("Add role to user", "AddRoleToUser")</p>
<p>@Html.ActionLink("Delete user role", "DeleteUserRole")</p>

