@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Chinese Bridge</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>This is Chinese Bridge</h1>
						<p>Chinese Bridge is your best choice for studying Chinese.</p>
					</header>
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
											<a class="link"><img src="https://localhost:44319/Content/image/logo/logo.png" alt="" /></a>
										</div>
									</div>
									<div class="col col2">
										<h3>Introduction of Chinese Bridge</h3>
                                        <p>We offer Mandarin courses at all levels to suit a variety of needs – business, educational and personal development. We also provide corporate training and can tailor solutions to meet specific requirements. Our professional translation service has a rapid turnaround.</p>
                                        <p>We offer a comprehensive range of language courses and cultural training programs for people of English-speaking and other backgrounds. Our courses cater to individuals and corporate clients, all ages from children as young as four to adults, and all levels of proficiency, from beginners to people with advanced Mandarin skills. </p>
									</div>
								</div>
						</div>
					</section>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>